img {
    border: 1px solid #ddd;
    width: 300px;
    height: 300px;
  
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color:dodgerblue;
    Height:34px;
    Width:96px;
}

.menu-bg {
    width: 100%;
    height: 40px;
    /* Styles */
    border: none; /* Remove the default border */
    border-radius: 5px;
   
   background-color:darkorchid;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 2px 3px 4px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}

#menu > ul {
   
    padding: 4px 0px 0px 8px;
}

    #menu > ul > li { /* will style only the top level li */
        list-style: none;
        display: inline-block;
       /* line-height: 1;*/
        position: relative;
        color: #fff;
    }

        #menu > ul > li:hover {
            color: #5C001F;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        #menu > ul > li > a {
            color: inherit;
            text-decoration: none !important;
            font-size: 20px;
            padding: 4px 20px;
        }

#menu li ul {
    position: absolute;
    list-style: none;
    text-align: left;
    width: 180px;
    left: 50%;
    margin-left: -130px;
    top: 20px;
    font: bold 12px 'Open Sans Condensed', sans-serif; /* This is important for the show/hide CSS animation */
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
    z-index: 10;
}

    #menu li ul li {
        background-color: #313131;
    }

        #menu li ul li a {
            padding: 12px;
            color: #fff !important;
            text-decoration: none !important;
            display: block;
        }

        #menu li ul li:nth-child(odd) { /* zebra stripes */
            background-color: #363636;
        }

        #menu li ul li:hover {
            background-color: #444;
        }

        #menu li ul li:first-child {
            border-radius: 3px 3px 0 0;
            margin-top: 25px;
            position: relative;
        }

            #menu li ul li:first-child:before { /* the pointer tip */
                content: '';
                position: absolute;
                width: 1px;
                height: 1px;
                border: 5px solid transparent;
                border-bottom-color: #313131;
                left: 50%;
                top: -10px;
                margin-left: -5px;
            }

        #menu li ul li:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            z-index: 99999;
        }

/* This will trigger the CSS */
/* transition animation on hover */

#menu li:hover ul {
    max-height: 200px; /* Increase when adding more dropdown items */
}

